
{{/*  get type of exercise, example: HTML,CSS,...  */}}
{{$type := .type}}
<h2>{{$type}}</h2>

{{/*  Loop through the chapters given in the YAML file  */}}
{{ range $key, $chapter:=.path.chapters}}
	{{$key}} </br>
	
	{{/*  If there are no subFolders, grab single files  */}}
	{{if eq $chapter.subFolders false}}
		{{ range $exercise:=$chapter.exercises }}
		{{$adress := print "content/" $type "/" $chapter.folder "/" $exercise ".md"}}
		
			{{if (fileExists $adress)}}
				<li><a href="{{$type}}/{{$chapter.folder}}/{{$exercise}}">{{$exercise}}</a></li>
			{{end}}
				
		{{ end }}
	{{/*  When there are subfolders */}}
	{{else}}
		{{range $key, $subChapter:= $chapter.subChapters}}
			{{$key}}
			{{ range $exercise:=$subChapter.exercises }}
			{{$adress := print "content/" $type "/" $chapter.folder "/" $subChapter.folder "/" $exercise ".md"}}
			{{if (fileExists $adress)}}
				<li><a href="{{$type}}/{{$chapter.folder}}/{{$subChapter.folder}}/{{$exercise}}">{{$exercise}}</a></li>
			{{end}}
				
		{{ end }}
		{{end}}

	{{end}}
{{ end }}
